/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Custom Styles
  ========================================
*/

html, body {
  height: 100%;
  width: 100%;
}

body {
  background:#6e6b65;
}

.buttonBase {
  width: 250px;
  height: 250px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url("https://wallpaperaccess.com/full/1808239.jpg");
  background: repeating-linear-gradient(135deg, rgb(238, 210, 2), rgb(238, 210, 2) 20px, rgb(0, 0, 0) 20px, hsl(0, 0%, 0%) 40px);
  border-radius: 35px;
}

.buttonrim {
  width: 203px;
  height: 203px;
  border-radius: 50%;
  border-width: 13px;
  border-color: #9b978d;
  border-style: solid;
  background: radial-gradient(black 20%, #9b978c);
  margin: auto;
  position: absolute;
  top:0;
  bottom: 0;
  right:0;
  left: 0;
}

.container {
  height: 100%;
  position: relative;
}

.shut-up-button {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 205px;
  height: 205px;
  border-radius: 50%;
  background:rgb(230, 37, 47);
  background-color: radial-gradient(white,rgba(225, 225, 225, 0));
  color: white;
  font-size: 55px;
}

button:active {
  width: 175px;
  height: 175px;
  font-size: 47px;
  background:rgb(194, 31, 39);
  color: #dedede;
}